@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">VSsub</h1>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/QRQwZDWz1Pw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p>
    <button onclick="moveDot()">Move the circle!</button>
</p>
<div id="container1">
    <div id="animation1"></div>
</div>