<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/0c577f6d-fb5d-461a-88bd-50697edcdb48/resourcegroups/ChallengeSubAzure20210826105104ResourceGroup/providers/Microsoft.Web/sites/ChallengeSubAzure20210826105104</ResourceId>
    <ResourceGroup>ChallengeSubAzure20210826105104ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://challengesubazure20210826105104.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4bb3bf6a-886f-4efc-86e2-ad17fd5ad5d8</ProjectGuid>
    <PublishUrl>https://challengesubazure20210826105104.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ChallengeSubAzure20210826105104</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>